<!DOCTYPE html>
<html>
	<head>		
		<meta charset="utf-8">

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <!-- BOOTSTRAP -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	    <!-- CSS -->
	    <link rel="stylesheet" type="text/css" href="css/style.css">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	    <title>Cadastro</title>
	    <!-- FUNÇÕES -->
	    <script src="js/funcoes.js"></script>
	</head>
    <body ng-app="starter" class="imgFundo">
        <section class="topoCadastro">
            <img src="img/financas.png" class="logoCadastros"> TER Economia
        </section>
		<form class="cadastroForm" ng-controller="cadastrocontroller">
            <h2 style="text-align:center">Informe seus dados</h2>
            <br>
            
            Nome Completo:<br> 
            <input type="text" id="nome" ng-model="dados.nome" class="estiloInputs"/>
            <br>
            Data de Nacimento:<br>
            <input type="date" id="dataNacimento" ng-model="dados.nacimento" class="estiloInputs"/>
            <br>
            E-mail:<br> 
            <input type="email" id="email" ng-model="dados.email" class="estiloInputs"/>
            <br>
            Senha:<br> 
            <input type="password" id="senha" ng-model="dados.senha" class="estiloInputs"/>
            <br>
            Telefone Residencial:<br> 
            <input type="number" id="telefoneResi" ng-model="dados.telefoneResi" class="estiloInputs"/>
            <br>
            Telefone Celular:<br> 
            <input type="number" id="celular " ng-model="dados.celular" class="estiloInputs"/>
            <br>
            <input type="button" id="cadastrar" value="Cadastrar" ng-click="cadastrar()" class="btn-formularios"/>
        </form>

        

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="js/cadastrarUsuario.js"></script>
	</body>
</html>